body {
	margin: 0px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
	overflow: hidden;
}

#header {
	background: #333;
	color: #DDD;
	padding: 5px;
	height: 20px;
	position: fixed;
	top: 7px;
	width: 100%;
}

#contacts {
	position: relative;
	top: 25px;
	left: 120px;
	float: right;
	background: #333;
	display:none;
}
#contacts div{
	padding: 10px;
	margin: 0px 10px 0px 10px;
}

#filter ul {
	-webkit-padding-start: 0px;
}
#filter li {
	display: block;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#filter li:first-child {
	border-bottom: 2px solid rgba(178, 192, 180, 0.77);
	margin-bottom: 3px;
	padding-bottom: 3px;
	font-weight: 600;
}

#text {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 100px;
	overflow:auto;
	display: block;
	
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	text-align: justify;
	
	-moz-column-gap:20px; /* Firefox */
	-webkit-column-gap:20px; /* Safari and Chrome */
	column-gap:20px;

	-moz-column-rule:1px outset #bbb; /* Firefox */
	-webkit-column-rule:1px outset #bbb; /* Safari and Chrome */
	column-rule:1px outset #bbb;
}	
.narrow #text {
	width: 400px;
	height: 200px;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
}
	
#content {
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 0px;
	overflow:auto;
	display: block;
	text-align: center;
}

.entry {
	width: 300px;
	margin: 15px;
	border: #ddd;
	border-style:solid;
	border-width:1px;
	display: inline-block;
	box-shadow: 5px 5px 12px rgba(165, 165, 165, 0.15	);
}
div.entry {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
div.entry:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 10px 10px 12px rgba(165, 165, 165, 0.15	);
}

.title-bar h1{
	background: rgba(14, 182, 47, 0.75);
	padding: 5px;
	height: 20px;
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: 'Handlee', cursive;
	text-align: center;
} 
.window {
	height: 175px;
 }
.buttons {
	background: #eee;
	width: 100%;
	height: 100%;
	position: relative;
	top: -175px;
	z-index: -2;
}
.overlay {
	position: relative;
	width: 300px;
	height: 175px;
	background: rgba(4, 22, 11, 0.86);
	visibility:hidden;
}
.selected .overlay {
	visibility: visible;
}

/* TODO other browsers scrollbars*/
::-webkit-scrollbar { 
	width: 0px;
}
::-moz-scrollbar {
	width: 1px;
}


#logo {
	height: 29px;
	top: 0px;
	position: absolute;
	margin-left: 10px;
}

h1 {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}
h2 {
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}	

#menu{
	float: right;
	margin-right: 50px;
	margin-top: 2px;
}
#menu li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
#menu a {
	color: #eee;
	text-decoration: blink;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Handlee', cursive;
}
.projects a.projects {
	border-bottom: 7px solid rgba(30, 192, 62, 1);
}
.blog a.blog {
	border-bottom: 7px solid rgba(231, 0, 0, 1);
}
.tags a.tags {
	border-bottom: 7px solid rgba(144, 153, 255, 0.89);
}
.aboutme a.aboutme {
	border-bottom: 7px solid rgba(255, 255, 0, 0.92);
}
#contacts-menu-btn.active {
	border-bottom: 7px solid rgba(255, 255, 0, 0.92);
}








.tag {
	padding: 4px;
	margin: 5px;	
	background: #646464;
	border: 1px solid #949294;
	color: #fff;
	text-decoration: none;
	display: none;
	border-radius: 0.4em;
}
.selected .tag {
	display: inline-block;
}
.tag:active {
	position:relative;
	top:1px;
