#graph {
 margin-top: 1em;
}

#invert-btn {
position: absolute;
top: 0;
right: 0;
padding: 1%;
margin: .5em;
cursor: pointer;

border: 1px solid #eee;
background-color: #B19AEE;
}

#menu {
position: fixed;
top: 0;
background: #000;
width: 100%;
height: 3em;
}

#links {
float:right;
color: #fff;
}
#links  li{
display:inline;
padding-right: 6em;
}

h1 {
color: #eee;  
margin: 0;
margin-left: 0.5em;
float:left;
}

body, svg {
 margin: 0;
 width: 100%;
 height: 100%;
 background: #19149C;
 overflow: hidden;
}

circle {
  fill: rgba(55,55,220,0.25);
  stroke: rgba(220,220,220,0.25);
  stroke-width: 1.5px;
}
circle:hover{
  stroke: rgba(220,220,220,1);
}

.link {
  stroke: rgba(0,255,0,0.04);  
  fill: none;
  stroke-width: 1.5px;
}

.axis {
  stroke: rgba(0,255,0,0.54);  
  fill: none;
  stroke-width: 1.5px;
}

#aircraft {
fill: rgba(0,255,0,0.44);
}

/*
 * Inverted styles
 */

.inverted #invert-btn {
border: 1px solid #000;
background-color: #B19AEE;
}

body.inverted,.inverted svg {
 background: #fff;
}

.inverted circle {
 fill: rgba(232,232,240,0.25);
 stroke: rgba(80,80,80,0.25);
 stroke-width: 0.5px;
}
.inverted circle:hover {
stroke: rgba(00,00,00,1);
}

.inverted .link {
 stroke: rgba(120,155,250,0.03);  
 fill: none;
 stroke-width: 1.5px;
}

.inverted .axis {
 stroke: rgba(200,200,200,0.54);  
 fill: none;
 stroke-width: 1.5px;
}

.inverted  #aircraft {
fill: rgba(200,200,200,0.44);
}

/*
 * General
 */
 
 @media only screen and (max-width: 1024px) {

   h1 { font-size: 1em; }
   #menu { height: 1.5em; }

}


#info {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1 !important;
  background-color: rgba(153, 153, 153, 0.62);	
  display:none;
}
#info div{
  padding:2em;
  background-color:#fff;
  margin: 0 auto;
  max-width: 600px;
  text-align: justify;
  margin-top:2em;
}