#graph {
 margin-top: 1em;
}

#invert-btn {
position: absolute;
right: 0;
padding: 1%;
margin: 1em;
margin-right: 2em;
cursor: pointer;

border: 1px solid #eee;
background-color: #B19AEE;
}

#title {
  position: absolute;
  margin-left: 1em;
}

h1 {
color: #eee;  
}

body, svg {
 margin: 0;
 width: 100%;
 height: 100%;
 background: #19149C;
}

circle {
  fill: rgba(55,55,220,0.25);
  stroke: rgba(220,220,220,0.25);
  stroke-width: 1.5px;
}

.link {
  stroke: rgba(0,255,0,0.04);  
  fill: none;
  stroke-width: 1.5px;
}

.axis {
  stroke: rgba(0,255,0,0.54);  
  fill: none;
  stroke-width: 1.5px;
}

/*
 * Inverted styles
 */

.inverted #invert-btn {
border: 1px solid #000;
background-color: #B19AEE;
}

.inverted h1 {
  color: #222;
}
 
body.inverted,.inverted svg {
 background: #ddd;
}

.inverted circle {
  fill: rgba(5,5,5,0.25);
  stroke: rgba(200,200,200,0.25);
  stroke-width: 1.5px;
}

.inverted .link {
  stroke: rgba(0,55,0,0.04);  
  fill: none;
  stroke-width: 1.5px;
}

.inverted .axis {
  stroke: rgba(0,55,0,0.54);  
  fill: none;
  stroke-width: 1.5px;
}
